AWS_REGION=us-east-2
AWS_ACCOUNT_ID="366577564432"

OUTPUT_BUILD_DAITA_NAME=output_daita.txt
OUTPUT_FOR_FE=output_fe_config.txt

DAITA_APPLICATION=daita
ANNO_APPLICATION=anno
INFRA_APPLICATION=infra

###--------------- parameter value ---------------
###____ do not change this config when you change the env_______

SUB_NET_IDS=subnet-31ff5b5a
SECURITY_GROUP_IDS=sg-0315a5ecee0dc69fe,sg-0b3b2fcc4dc7686ad,sg-af50cbde,sg-07c27f59bc172f180,sg-0796222bd5149736f
VPC_ID=vpc-53239e38


EFS_ID=fs-0199771f2dfe97ace
ROOT_EFS=/efs

DAITA_S3_BUCKET=daita-client-data
ANNO_S3_BUCKET=annotation-client-data


CERTIFICATE_USERPOLL_DOMAIN=arn:aws:acm:us-east-1:366577564432:certificate/8c1361ca-e287-4171-91ba-472b28b9c69a

MODE=prod

OAUTH2BOT_SLACK_FEED_BACK=xoxb-1117947584070-4388501155699-kEtvbOiFTEVEqVEUEREYj0IY

GOOGLE_CLIENT_ID=639730110991-p66c4enhi3sbd6o41uq4o2ct4l1it8k6.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GITHUB_CLIENT_ID=107117788aa64f363ee5
GITHUB_CLIENT_SECRET=c054671d4091df5d5e327b630b50e40d0db1de6d

CAPTCHA_SITE_KEY_GOOGLE=6LcqEGMeAAAAAAEDnBue7fwR4pmvNO7JKWkHtAjl
CAPTCHA_SECRET_KEY_GOOGLE=6LcqEGMeAAAAAOiJAMcg1NNfj6eA62gQPLJAtQMt

OAUTH_ENPOINT=https://auth.daita.tech/oauth2/token

MAX_SIZE_EC2_AUTOSCALING_ECS=4

###__________________________________
###__________________________________

###-------config for prod env--------------------------------------
###---------------------------------------------------------------
IS_BUILD_DAITA=yes
IS_BUILD_ANNOTATION=yes

DAITA_STAGE=prod
ANNOTATION_STAGE=prod
CAPABILITIES="CAPABILITY_IAM CAPABILITY_AUTO_EXPAND CAPABILITY_NAMED_IAM"

MAX_CONCURRENCY_TASK=2

DOMAIN_USER_POOL=auth.daita.tech
DOMAIN_DAITA=https://app.daita.tech

IMAGE_AI_SEGMENTATION_URL=366577564432.dkr.ecr.us-east-2.amazonaws.com/ai-services-repo:segformer

####-------------------------------------------------------------
