AWS_REGION=us-east-2
AWS_ACCOUNT_ID="737589818430"

OUTPUT_BUILD_DAITA_NAME=output_daita.txt
OUTPUT_FOR_FE=output_fe_config.txt

###--------------- parameter value ---------------
###____ do not change this config when you change the env_______

SUB_NET_IDS=subnet-019da2a6738756f88,subnet-0642064673fd68d2e
SECURITY_GROUP_IDS=sg-0c9a0ca7844d7b128,sg-00d8b4ca79ee1e42f,sg-007caf776eee9bd32,sg-04b9c865721337372,sg-0b411b5391db8d7a3
VPC_ID=vpc-057803c925fd8138a


EFS_ID=fs-01115862a24b75423
ROOT_EFS=/efs

DAITA_S3_BUCKET=client-data-test
ANNO_S3_BUCKET=client-annotation-bucket
DAITA_APPLICATION=daita
ANNO_APPLICATION=anno
INFRA_APPLICATION=infra

CERTIFICATE_USERPOLL_DOMAIN=arn:aws:acm:us-east-1:737589818430:certificate/997bd837-32c3-466d-927b-2e1d4dee7bf0
OAUTH2BOT_SLACK_FEED_BACK=xoxb-1117947584070-4388501155699-kEtvbOiFTEVEqVEUEREYj0IY


MODE=dev

GOOGLE_CLIENT_ID=639730110991-9t82efunb20f6m4stek56f6ut9t0kjfu.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GITHUB_CLIENT_ID=0cec5cf3d1f070b36b63
GITHUB_CLIENT_SECRET=5929cb027e02330533a587a8e9f5d2e0fd40e48e

OAUTH_ENPOINT=https://authdev.daita.tech/oauth2/token

CAPTCHA_SITE_KEY_GOOGLE=6LfR4ioiAAAAAH7RrdcoRQLiNbKFpFMNH2nqG8fv
CAPTCHA_SECRET_KEY_GOOGLE=6LfR4ioiAAAAAPR6AwPkkg3xAENhqK83hr1caBk7

MAX_SIZE_EC2_AUTOSCALING_ECS=2

###__________________________________
###__________________________________

###-------config for dev env--------------------------------------
###---------------------------------------------------------------
IS_BUILD_DAITA=yes
IS_BUILD_ANNOTATION=yes

DAITA_STAGE=dev
ANNOTATION_STAGE=dev
CAPABILITIES="CAPABILITY_IAM CAPABILITY_AUTO_EXPAND CAPABILITY_NAMED_IAM"

MAX_CONCURRENCY_TASK=2

DOMAIN_USER_POOL=authdev.daita.tech
DOMAIN_DAITA=https://dev.daita.tech

IMAGE_AI_SEGMENTATION_URL=737589818430.dkr.ecr.us-east-2.amazonaws.com/ai-services-repo:segformer

####-------------------------------------------------------------
